.main{
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
padding: 30px;
border-bottom: 1px solid;
width: fit-content;
margin: auto;
}

.item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    text-align: center;
}

.item img {
    max-width: 100px;
}