.main {
    /* background-color: #0f6229; */
    background: radial-gradient(50% 50% at 50% 50%, rgba(16, 83, 15, 0.75) 0%, #10530F 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    padding: 20px;
  }
  
  .text{
  font-size: 40px;
  margin: auto;
  width: fit-content;
  color: white;
  }
  .text1{
    margin: auto;
    width: fit-content;
    font-size: 40px;
    color: #F6D32A;
  }
  
  .sliderContainer {
    padding: 0 20px;
    position: relative;
    z-index: 10;
  }
  .sliderContainer:first-child{
    position: relative;
    z-index: 10; 
  }
  
  .slideItem{
    max-width: 250px;
    margin: auto;
  }
  
  
  /* card */
  .cashGameCard {
    background-color: #0f6229;
    border-radius: 10px 60px 10px 10px;
    padding: 15px;
    color: white;
    position: relative;
    width: 250px;
    height: 200px;
    clip-path: polygon(0 0, 83% 0, 100% 19%, 100% 100%, 0 100%);
    border: 1px solid rgba(129, 255, 0, 0.66);
  }
  
  .cashIcon {
    /* position: absolute; */
    width: 150px;
    margin-top: -60px;
    /* z-index: 5; */
  }
  
  .card-content {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .terms {
    font-size: 0.8rem;
  }
 .ratingWrapper{
    /* display: grid;
    place-items: center; */
    padding-top: 70px;
    /* padding-left: 50px; */
    width: 300px;



    /* background-color: #275d2a; /* Dark Green Background */
    /* border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    min-width: 400px;
    color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: Arial, sans-serif;
    margin-right: 35px;
    margin-top: 50px;
    z-index: 10;  */
 }
  /* card */